.container-card {

    width: 100%;
    max-width: 500px;
    min-width: 200px;
    height: 315px;
    position: absolute;
    top: 3rem;

   

    @include tablet{
        top: 1rem;
    }

    @include laptop{
        height: 450px;
        top: 50%;
        transform: translateY(-50%);
        left: 5rem;
    }


    @include mobile{
        top: 2rem;
        height: 275px;
    }


    .front-card{
        z-index: 10;
        position: absolute;
        bottom: 0;
        @include laptop{
            top: 0;
            left: 0;
        }
        .front{
            position: relative;
            width: 80%;
            left: 1rem;

            
        

            @include mobile{
                width: 85%;
            }
        }
        
        .card-details{
            position: absolute;
            top: 2rem;
            left: 2rem;
            @include mobile{
                top: 1rem;
            }

            img{
                width: 70px;
                margin-bottom: 2rem;
                @include mobile{
                    width: 50px;
                }
            }

            .card-number{
                color: $White;
                @include mobile{
                    font-size: 15px;
                }
            }

            .card-details-container{
                display: flex;
                min-width: 270px;
                justify-content: space-between;
                align-items: center;
                margin-top: 1.5rem;

                .card-holder-name, .card-expired{
                    color: $White;
                    font-size: 12px;
                    letter-spacing: 1px;
                }
                
            }
        }

    }

    
}

.back-card{
    img{
        position: absolute;
        right: 1rem;
        width: 80%;

        @include laptop{
            bottom: 0;
        }
    }
    .card-cvc{
        position: absolute;
        right: 4rem;
        top: 5.5rem;
        color: $White;
        font-size: 12px;

        @include laptop{
            right: 4rem;
            top: 20.5rem;
        }

        @include mobile{
            top: 4.6rem;
        }
    }
}

.errorBorder{
    border: 1px solid $errorRed;
    color: $errorRed;
    &::placeholder{
        color: $errorRed;
    }
}