@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  font-family: inherit;
}

body {
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  letter-spacing: 2px;
}

main {
  width: 100%;
}

p, label {
  color: hsl(278, 68%, 11%);
}

input {
  border: 1px solid hsl(270, 3%, 87%);
  outline: none;
}

label {
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
    flex-direction: row;
  }
}
.container-left img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container-left img {
    height: 100vh;
  }
}
.container-right {
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .container-right {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container-right form {
  margin-top: 4rem;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .container-right form {
    max-width: 500px;
  }
}
.container-right form .input-group {
  display: flex;
  flex-direction: column;
}
.container-right form .input-group input {
  padding: 1rem;
  font-size: inherit;
  color: hsl(279, 6%, 55%);
  margin-top: 0.5rem;
  border-radius: 10px;
}
.container-right form .input-group input:focus {
  border: 1px solid hsl(279, 6%, 55%);
  font-family: inherit;
  font-weight: 500;
  color: hsl(278, 68%, 11%);
}
.container-right form .card-date {
  margin: 1.5rem 0;
}
.container-right form .card-date label {
  margin-right: 1rem;
  font-size: 14px;
}
@media screen and (max-width: 375px) {
  .container-right form .card-date label {
    font-size: 10px;
  }
}
.container-right form .card-date .input-wrapper {
  margin-top: 0.2rem;
  display: flex;
  gap: 1rem;
}
.container-right form .card-date .input-wrapper .input-group {
  width: 40%;
}
.container-right form .card-date .input-wrapper .input-group #month, .container-right form .card-date .input-wrapper .input-group #year {
  width: 100%;
}
.container-right form .card-date .input-wrapper .last {
  width: 100%;
}
@media screen and (max-width: 375px) {
  .container-right form .card-date .input-wrapper .last {
    width: 50%;
  }
}
.container-right .thankyou {
  display: none;
}
.container-right .thankyou .greeting-container {
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
}
@media screen and (min-width: 768px) {
  .container-right .thankyou .greeting-container {
    margin-top: 0;
  }
}
.container-right .thankyou .greeting-container #submitThankyou {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: inherit;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
  letter-spacing: 1px;
  font-size: 18px;
}
.container-right .thankyou .greeting-container #submitThankyou:hover {
  cursor: pointer;
  transition: opacity 200ms ease;
  opacity: 0.8;
}
.container-right .thankyou .greeting-container .text-container h1 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.container-right .thankyou .greeting-container .text-container p {
  color: hsl(279, 6%, 55%);
}

.errorState {
  display: none;
  color: hsl(0, 100%, 66%);
  font-size: 12px;
  margin-top: 0.3rem;
  font-style: italic;
}

.btnSub {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: inherit;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
  letter-spacing: 1px;
  font-size: 18px;
}
.btnSub:hover {
  cursor: pointer;
  transition: opacity 200ms ease;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .btnSub {
    max-width: 500px;
  }
}

.container-card {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  height: 315px;
  position: absolute;
  top: 3rem;
}
@media screen and (min-width: 768px) {
  .container-card {
    top: 1rem;
  }
}
@media screen and (min-width: 1156px) {
  .container-card {
    height: 450px;
    top: 50%;
    transform: translateY(-50%);
    left: 5rem;
  }
}
@media screen and (max-width: 375px) {
  .container-card {
    top: 2rem;
    height: 275px;
  }
}
.container-card .front-card {
  z-index: 10;
  position: absolute;
  bottom: 0;
}
@media screen and (min-width: 1156px) {
  .container-card .front-card {
    top: 0;
    left: 0;
  }
}
.container-card .front-card .front {
  position: relative;
  width: 80%;
  left: 1rem;
}
@media screen and (max-width: 375px) {
  .container-card .front-card .front {
    width: 85%;
  }
}
.container-card .front-card .card-details {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
@media screen and (max-width: 375px) {
  .container-card .front-card .card-details {
    top: 1rem;
  }
}
.container-card .front-card .card-details img {
  width: 70px;
  margin-bottom: 2rem;
}
@media screen and (max-width: 375px) {
  .container-card .front-card .card-details img {
    width: 50px;
  }
}
.container-card .front-card .card-details .card-number {
  color: hsl(0, 0%, 100%);
}
@media screen and (max-width: 375px) {
  .container-card .front-card .card-details .card-number {
    font-size: 15px;
  }
}
.container-card .front-card .card-details .card-details-container {
  display: flex;
  min-width: 270px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.container-card .front-card .card-details .card-details-container .card-holder-name, .container-card .front-card .card-details .card-details-container .card-expired {
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  letter-spacing: 1px;
}

.back-card img {
  position: absolute;
  right: 1rem;
  width: 80%;
}
@media screen and (min-width: 1156px) {
  .back-card img {
    bottom: 0;
  }
}
.back-card .card-cvc {
  position: absolute;
  right: 4rem;
  top: 5.5rem;
  color: hsl(0, 0%, 100%);
  font-size: 12px;
}
@media screen and (min-width: 1156px) {
  .back-card .card-cvc {
    right: 4rem;
    top: 20.5rem;
  }
}
@media screen and (max-width: 375px) {
  .back-card .card-cvc {
    top: 4.6rem;
  }
}

.errorBorder {
  border: 1px solid hsl(0, 100%, 66%);
  color: hsl(0, 100%, 66%);
}
.errorBorder::-moz-placeholder {
  color: hsl(0, 100%, 66%);
}
.errorBorder::placeholder {
  color: hsl(0, 100%, 66%);
}/*# sourceMappingURL=styles.css.map */